<html>
    <head>
        <link href="../static/semantic.min.css" rel="stylesheet">
        <link href="../static/mittcss.css" rel="stylesheet">
        <script src="../static/jquery-3.3.1.min.js" ></script>
        <script src="../static/semantic.min.js" ></script>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
            <div class="ui three item menu">
  <a class="item active" href="/gallery">Gallery</a>
  <a class="item" href="/">mínar síður</a>
  <a class="item" href="/login">sign in</a>
  
</div>

        
   
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </body>
</html>